/*
Theme Name: Tiggy & Tim
Theme URI: http://tiggyandtim.com/
Author: Round Creative
Author URI: http://roundcreative.co.uk/
Description: The new theme created for sole us on tiggyandtim.com
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive
Text Domain: tiggyandtim
*/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul {list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* -------------------
        GENERAL
--------------------*/
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body {
    font-size:100.01%;
	text-align:center;
	font-family:'Montserrat',sans-serif;
	background-color:#fff200;
}
.sizer {
	padding:0 40px;
	background-color:#fff;
	overflow:hidden;
	width:100%;
}

/* -------------------
        HEADER
--------------------*/
header {
	padding-top:40px;
	height:163px;
	background-color:#fff;
	border-bottom:20px #fff200 solid;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
}
.home header {
	border-bottom:none;
}
header .sizer {
	overflow:visible;
}
header .sizer .logo {
	display:block;
	float:left;
	width:300px;
	height:79px;
	background:url(img/logo.png) no-repeat 50% 50%;
	background-size:contain;
}
header .sizer .account {
	float:right;
	display:block;
	text-align:center;
	color:#58595b;
	text-decoration:none;
	font-size:0.8em;
	margin-left:40px;
}
header .sizer .account span {
	display:block;
	padding-top:5px;
}
header .sizer .basket{
	position:relative;
	float:right;
	display:block;
	text-align:center;
	color:#58595b;
	text-decoration:none;
	font-size:0.8em;
	margin-left:40px;
}
header .sizer .basket .cart-contents-count{display:block;
	position:absolute;
	top:5px;
	left:0;
	margin:0;
	padding:0;
	width:26px;
	height:26px;
	border-radius:50%;
	background:#FFF200;
	line-height:26px;
	text-align:center;
	color:#00AEEF;
	font-family:montserrat;
}
header .sizer .basket span {
	display:block;
	padding-top:5px;
}

header .sizer .burger-menu{
	display:none;
	margin:0;
	position:absolute;
	padding:0;
	top:20px;
	right:10px;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:40px;
	color:#00AEEF;
	background:none;
	border:0;
	outline:none;
	cursor:pointer;
}
header .sizer .main-menu .close-menu{
	display:none;
	position:absolute;
	margin:0;
	padding:0;
	top:10px;
	right:10px;
	width:40px;
	height:40px;
	color:#00AEEF;
	font-size:40px;
	line-height:40px;
	text-align:center;
	background:none;
	border:0;
	outline:none;
	cursor:pointer;
}

/* MAIN MENU */
header .sizer .main-menu {
	float:right;
}
header .sizer .main-menu > ul > li {
	display:inline-block;
	position:relative;
}
header .sizer .main-menu > ul > li > a {
	display:block;
	text-transform:uppercase;
	color:#58595b;
	text-decoration:none;
	height:72px;
	line-height:72px;
	padding:0 20px;
	font-size:1.5em;
	transition:background-color 0.1s linear;
}
header .sizer .main-menu > ul > li > a:hover, header .sizer .main-menu > ul > li.active > a {
	background-color:#fff200;
}
header .sizer .main-menu > ul > li.active > a {
	height:102px;
}
header .sizer .main-menu > ul > li.active > a:after {
	position:absolute;
	bottom:10px;
	left:30px;
	content:"";
	display:block;
	border-right:5px #fff solid;
	border-bottom:5px #fff solid;
	width:20px;
	height:20px;
	-ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
header .sizer .main-menu > ul > li > ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background-color:#fff200;
	padding:20px 0;
	z-index:10;
	text-align:left;
}
header .sizer .main-menu > ul > li > ul > li > a {
	color:#58595b;
	text-decoration:none;
	display:block;
	padding:10px 20px;
	white-space:nowrap;
	font-size:1.1em;
}

/* -------------------
        SLIDER
--------------------*/
.slider {
	margin-top: 163px;
	width:100%;
	height:CALC(100vh - 240px);
	position:relative;
	overflow:hidden;
}
.slider .slide {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background-position:50% 50%;
	background-size:cover;
	display:none;
}
.slider .slide:first-child {
	display:block;
	z-index:1;
}
.slider .prev {
	position:absolute;
	left:0;
	top:CALC(50% - 40px);
	display:block;
	width:80px;
	height:80px;
	z-index:2;
	background-color:#fff200;
}
.slider .prev:after {
	position:absolute;
	top:22px;
	left:30px;
	content:"";
	display:block;
	border-left:5px #fff solid;
	border-bottom:5px #fff solid;
	width:30px;
	height:30px;
	-ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.slider .next {
	position:absolute;
	right:0;
	top:CALC(50% - 40px);
	display:block;
	width:80px;
	height:80px;
	z-index:2;
	background-color:#fff200;
}
.slider .next:after {
	position:absolute;
	top:22px;
	left:15px;
	content:"";
	display:block;
	border-right:5px #fff solid;
	border-top:5px #fff solid;
	width:30px;
	height:30px;
	-ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.slide-badge {
	position: absolute;
	top: 30px;
	right: 30px;
	display: inline-block;
	height: 150px;
	width: 150px;
	background: #EC008C;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 36px;
	padding-top: 30px;
	z-index: 10;
}

.slide-badge-sub {
	display: block;
	font-size: 18px;
	line-height: 1.4em;
}

/* -------------------
        CONTENT
--------------------*/
.content {
	margin-top: 163px;
	padding-top:80px;
	max-width:800px;
	margin:auto;
	text-align:left;
	color:#58595b;
}

.sizer .content {
	margin-top: 163px;
}
.home .content {
	margin-top: auto;
}

#newsletter-signup .content {
	margin-top: auto;
}

.content h1 {
	font-size:5em;
	text-align:center;
	margin-bottom:40px;
}
.content p {
	line-height:2em;
	margin-bottom: 40px;
}
.content strong {
	font-weight:700;
}
.content img {
	max-width:100%;
	height:auto;
}
.content .more-link {
	text-align-last:center;
	margin-bottom:40px;
}
.content .more-link a {
	display:inline-block;
	width:100px;
	height:100px;
	line-height:100px;
	border-radius:50%;
	background-color:#fff200;
	color:#00aeef;
	text-decoration:none;
	font-size:1.4em;
}
/* Homepage products */
.favourites {
	padding-top:20px;
	max-width:1200px;
	margin:auto;
	text-align:left;
	color:#58595b;
	overflow:hidden;
}
.favourites h2 {
	font-size:5em;
	text-align:center;
	margin-bottom:40px;
}
.favourites .product-boxes {
	overflow:hidden;
	padding-bottom:40px;
}
.favourites .product-box {
	float: left;
    width: 22.05%;
    margin: 0 3.8% 2.992em 0;
    text-align: center;
}
.favourites .product-box:nth-child(4n){
	margin-right:0;
}
.favourites .product-box:nth-child(4n+1){
	clear:both;
}
.favourites .product-box .image-container {
	display:block;
	width:100%;
	height:CALC((100vw - 60px) / 4);
	max-height:264px;
	border:1px #efefef solid;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	margin-bottom:1.5em;
}
.favourites .product-box h3 {
	font-weight:700;
	margin-bottom:10px;
}
.favourites .product-box .price {
	display:block;
	margin-bottom:10px;
}
.favourites .product-box .button {
	display:inline-block;
	background-color:#fff200;
	color:#58595b;
	text-decoration:none;
	padding:10px 20px;
	font-weight:700;
	font-size:0.9em;
}
.favourites .more-link {
	text-align-last:center;
	margin-bottom:40px;
	clear:both;
}
.favourites .more-link a {
	display:inline-block;
	width:100px;
	height:100px;
	line-height:100px;
	border-radius:50%;
	background-color:#fff200;
	color:#00aeef;
	text-decoration:none;
	font-size:1.4em;
}
/* About Our Products */
.our-products {
	max-width:800px;
	margin:auto;
	text-align:left;
	color:#58595b;
	overflow:hidden;
}
.our-products h2 {
	font-size:5em;
	text-align:center;
	margin-bottom:40px;
}
.our-products .product-category-boxes {
	overflow:hidden;
	padding-bottom:40px;
}
.our-products .product-category-box {
	float:left;
	width:CALC((100% - 20px) / 2);
	margin-right:20px;
	margin-bottom: 20px;
}
.our-products .product-category-box:nth-child(2n){
	margin-right:0;
}
.our-products .product-category-box:nth-child(2n+1){
	clear:both;
}
.our-products .product-category-box .image-container {
	display:block;
	width:100%;
	height:CALC((100vw - 20px) / 2);
	max-height:390px;
	border:1px #efefef solid;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	margin-bottom:20px;
}
.our-products .product-category-box h3 {
	font-weight:700;
	margin-bottom:10px;
	font-size:1.2em;
}
.our-products .product-category-box p {
	line-height:1.4em;
	font-size:0.9em;
	margin-bottom:20px;
}
.our-products .product-category-box .view-link {
	text-align:center;
	display:block;
}
.our-products .product-category-box .view-link a {
	display:inline-block;
	width:100px;
	height:100px;
	line-height:100px;
	border-radius:50%;
	background-color:#fff200;
	color:#00aeef;
	text-decoration:none;
	font-size:1.4em;
}
/* SHOP */
#container {
	margin-top: 163px;
	background-color:#fff;
	padding:40px 0;
}
#container #content {
	max-width:1200px;
	margin:auto;
	color:#58595b;
}

.cats-list{
	display:block;
	margin:0 0 40px 0;
	width:100%;
	text-align:center;
}
.cats-list li{
	display:inline-block;
	margin:0;
	padding:15px;
}
.cats-list li.current{
	background:#fff200;
}
.cats-list li a{
	display:block;
	color:#58595b;
	text-decoration:none;
	font-size:1.5em;
}
body.tax-product_cat .page-title{margin-bottom:20px;text-align:center!important;}
.woocommerce-breadcrumb, .woocommerce-result-count, .woocommerce-ordering {
	display:none !important;
}
#container #content h1.product_title{
	font-size:3.5em;
	font-weight:500;
}
#container #content h1 {
	font-size:5em;
	text-align:center;
	margin-bottom:40px;
}
#container #content .product .entry-summary p{
	font-size:2em;
	font-weight:200;
	margin-bottom:20px;
	color:#595A5C;
}
.woocommerce ul.products li.product a, .woocommerce ul.products li.product .price {
	color:#58595b;
}
.woocommerce ul.products li.product .button {
	display:inline-block;
	background-color:#fff200;
	color:#58595b;
	text-decoration:none;
	padding:10px 20px;
	font-weight:700;
	font-size:0.9em;
	border-radius:0;
}
.woocommerce ul.products li.product a img {
	padding:0;
	border:1px #efefef solid;
}
.term-description {
	display:none;
}
.woocommerce nav.woocommerce-pagination ul li a {
	color:#58595b;
}
.entry-summary, #container #content h1 {
	text-align: left;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	font-size:2em;
	font-weight:bold;
	color:#58595b;
}
#container #content .product .entry-summary .price{
	font-weight:900;
}
.woocommerce div.product p.price:after{
	margin-left:10px;
	content:"each";
}
#container #content .product .entry-summary .cart .quantity .qty{
	display: block;
    margin: 0 10px 0 0;
    width: 58px;
    height: 58px;
    border: 0;
    background: #EDEDED;
    font-size: 2em;
    line-height: 58px;
    text-align: center;
    color: #595A5C;
    font-family: montserrat;
    font-weight: 700;
}
#container #content .product .entry-summary .cart .button{
	display:block;
	margin:0;
	padding:0 20px;
	height:58px;
	line-height:58px;
	border-radius:0;
	border:0;
	outline:none;
	background:#F8ED35;
	color:#595A5C;
	font-family:montserrat;
}
#container #content .product .entry-summary .product_meta .posted_in{
	font-weight:900;
}
#container #content .product .entry-summary .product_meta .posted_in a{
	font-weight:200;
	color:#595A5C;
	text-decoration:none;
}

/*>~~~~~>><{ PRODUCT Page }><<~~~~~<*/
.woocommerce div.product form.cart .variations select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius:0;
	border: none;
	display: inline-block;
	min-width: auto;
	width: 100%;
	margin: 0;
	padding: .3em 0 .3em .5em;
	background: transparent;
	font-size: 16px;
	font-family: montserrat;
	font-weight: 700;
}

.variations .select-wrapper {
	position: relative;
	display: inline-block;
	height: 32px;
	background: #EDEDED;
}

.variations .select-wrapper:after {
	content: '\f078';
	font-family: FontAwesome;
	position: absolute;
	right: .4em;
	top: 50%;
	font-size: 17px;
	transform: translateY(-50%);
}


/*>~~~~~>><{ PRODUCT TABS }><<~~~~~<*/
#container #content .product .woocommerce-tabs .tabs{
	margin-bottom:0;
	padding:0;
}
#container #content .product .woocommerce-tabs .tabs:before{display:none;}
#container #content .product .woocommerce-tabs .tabs li{
	display:block;
	margin:0;
	padding:0 5px 5px 5px;
	width:33.333333%;
	height:65px;
	line-height:55px;
	float:left;
	border:0;
	border-bottom:1px solid #FFF200;
	border-radius:0;
	background:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#container #content .product .woocommerce-tabs .tabs li:first-child{padding-left:0;}
#container #content .product .woocommerce-tabs .tabs li.active{
	padding-left:5px;
	border-top:1px solid #FFF200;
	border-right:1px solid #FFF200;
	border-left:1px solid #FFF200;
	border-bottom:0;
}
#container #content .product .woocommerce-tabs .tabs li.active:last-child{padding-left:5px;}
#container #content .product .woocommerce-tabs .tabs li:before,
#container #content .product .woocommerce-tabs .tabs li:after{display:none;}

#container #content .product .woocommerce-tabs .tabs li a{
	margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border:1px solid #FFF200;
	background:#FFFCD5;
}
#container #content .product .woocommerce-tabs .tabs li.active a{
	border:0;
	background:none;
}

#container #content .product .woocommerce-tabs .panel{
	padding:30px;
	border-top:0;
	border-bottom:1px solid #FFF200;
	border-right:1px solid #FFF200;
	border-left:1px solid #FFF200;
}
#container #content .product .woocommerce-tabs .panel h2{margin-bottom:10px;font-size:18px;}
#container #content .product .woocommerce-tabs .panel p{line-height:22px;}


#container #content .product .related h2{margin-bottom:40px;font-size:3.5em;font-weight:500;}

/*>~~~~~>><{ WOO CHECKOUT PAGE STYLES }><<~~~~~<*/
.woocommerce-message{border-top-color:#FFF200!important;}
.woocommerce-message:before{color:#00AEEF!important;}

.woocommerce .shop_table a{
	color:#595A5C;
	text-decoration:none;
}
.woocommerce .shop_table .button,
.checkout-button{
	background:#00AEEF!important;
	color:#FFFFFF!important;
}
.woocommerce .shop_table #coupon_code{
	padding:0 10px;
	height: 36px!important;
    min-width: 150px!important;
	line-height:44px;
}
.woocommerce .shop_table #coupon_code::-webkit-input-placeholder{font-size:16px!important;font-family:montserrat!important;line-height:44px;}

.woocommerce-MyAccount-navigation ul{
	margin:0 0 60px 0;
}
.woocommerce-MyAccount-navigation ul li{
	display:block;
	margin:0 0 10px 0;
	min-width:160px;
	height:30px;
	background:#00AEEF!important;
	color:#FFFFFF!important;
}
.woocommerce-MyAccount-navigation ul li.is-active{
	background:#FFF200!important;
}
.woocommerce-MyAccount-navigation ul li a{
	display:block;
	margin:0;
	padding:0 10px;
	color:#FFFFFF;
	line-height:30px;
	text-decoration:none;
}
.woocommerce-MyAccount-navigation ul li.is-active a{
	color:#00AEEF;
}

.woocommerce-MyAccount-content a{
	color:#00AEEF;
	text-decoration:none;
}

.woocommerce-MyAccount-content p{
	margin-bottom:10px;
}

.woocommerce-Address header{
	margin-bottom:15px;
	padding-bottom:10px;
	padding-top:0;
	height:auto;
	border-bottom:1px solid;
}

.edit-account{margin-bottom:60px;}
.edit-account fieldset legend{display:block;margin-top:15px;padding-left:3px;width:100%;float:left;font-weight:700;}
.edit-account input[type="text"],
.edit-account input[type="email"],
.edit-account input[type="password"]{
	display:block;
	height:30px;
	padding:0 10px;
	line-height:30px;
	font-family:montserrat;
}
.edit-account input[type="text"]::-webkit-input-placeholder,
.edit-account input[type="email"]::-webkit-input-placeholder,
.edit-account input[type="password"]::-webkit-input-placeholder{
	line-height:30px;
	font-family:montserrat;
}

/*>~~~~~>><{ Woocommerce - FORMS }><<~~~~~<*/

.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	width: 100%;
}

.woocommerce form .form-row label {
	display: none;
}

.woocommerce form .form-row.notes label {
	display: block;
	font-size: 24px;
	padding: .5em 16px;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	border: none;
	border-radius: 5px;
	background-color: #f1f1f2;
	font-size: 16px;
	padding: 1em;
}

.select2-container .select2-choice {
	background-color: #f1f1f2;
	border: none;
	font-size: 16px;
	padding: .5em 8px;
}

.woocommerce-checkout .input-checkbox {
	height: 24px;
	width: 24px;
}

.woocommerce-checkout h3 {
	font-size: 24px;
	padding: .5em 16px;
}

.woocommerce-info {
	background: #fff200;
	font-size: 24px;
	padding: 1em 16px !important;
	border-top: 5px solid #00afea;
}

.woocommerce-info a {
	color: #00afea;
	text-decoration: none;
}

.woocommerce-info:before {
	content: none;
}

.woocommerce table.shop_table {
	border: none;
}

.woocommerce table.shop_table thead th {
	background: #fff200;
	border-radius: 0 5px 5px 0;
}

.woocommerce table.shop_table thead th:first-of-type {
	border-radius: 5px 0 0 5px;
}

.woocommerce table.shop_table tbody td,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th{
	border-bottom: 5px solid #fff200;
	border-top: none;
}

.woocommerce .cart_totals th {
	border-bottom: 5px solid #fff200;
}
/*>~~~~~>><{ DESIGN YOUR OWN - FORM }><<~~~~~<*/
div.wpcf7{
	position:relative;
	margin:0 0 60px 0;
	padding:20px;
	width:100%;
	height:auto;
	background:#FFF200;
	border-radius:15px;
	float:left;
}
div.wpcf7 p{margin:0;}
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap{
	display:block;
	margin:0 0 15px 0;
	width:100%;
	float:left;
}
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="text"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="email"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="number"]{
	display:block;
	margin:0;
	padding:0 15px;
	width:100%;
	height:62px;
	background:#FFFFFF;
	border-radius:10px;
	line-height:50px;
	color:#D1D3D4;
	font-family:montserrat;
	font-size:20px;
	border:0;
}
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap textarea{
	display:block;
	margin:0;
	padding:0 15px;
	width:100%;
	height:200px;
	background:#FFFFFF;
	border-radius:10px;
	line-height:50px;
	color:#D1D3D4;
	font-family:montserrat;
	font-size:20px;
	border:0;
}
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="text"]::-webkit-input-placeholder,
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="email"]::-webkit-input-placeholder,
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="number"]::-webkit-input-placeholder,
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap textarea::-webkit-input-placeholder{
	line-height:50px;
	color:#D1D3D4;
	font-family:montserrat;
	font-size:20px;
}
.wpcf7 .wpcf7-form input[type="submit"]{
	display:block;
	margin:0 auto;
	padding:0;
	width:100px;
	height:100px;
	background:#FFFFFF;
	border-radius:50%;
	border:0;
	outline:none;
	text-align:center;
	line-height:100px;
	color:#00AEEF;
	font-family:montserrat;
	font-size:18px;
	cursor:pointer;
}
.wpcf7 .wpcf7-form .ajax-loader{position:absolute;bottom:20px;left:20px;}

/*>~~~~~>><{ NEWSLETTER SUBSCRIPTION SECTION}><<~~~~~<*/
#newsletter-signup{
	margin:0;
	padding:30px 0;
	width:100%;
	height:120px;
	background:#D1D3D4;
}
#newsletter-signup .sizer{background:none;}
#newsletter-signup .sizer .content{
	padding:0;
	max-width:800px;
}
#newsletter-signup .sizer .content form{
	position:relative;
}
#newsletter-signup .sizer .content form #fieldEmail{
	display: block;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border: 0;
    outline: none;
    border-radius: 10px;
	line-height:60px;
	color:#D1D3D4;
	font-family:montserrat;
	font-size:20px;
}
#newsletter-signup .sizer .content form #fieldEmail::-webkit-input-placeholder{
	line-height:60px;
	color:#D1D3D4;
	font-family:montserrat;
	font-size:20px;
}
#newsletter-signup .sizer .content form .newsletter-go{
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	margin:0;
	padding:0;
	width:40px;
	height:40px;
	background:#FFF200;
	border-radius:50%;
	border:0;
	outline:none;
	color:#00AEEF;
	line-height:40px;
	text-align:center;
	font-size:20px;
	font-family:montserrat;
	cursor:pointer;
}

.launch{
	padding-bottom:20px;
	font-size:2.6em;
}

/* -------------------
        FOOTER
--------------------*/
footer {
	padding:40px;
}
footer .social li {
	display:inline-block;
	margin:0 20px 40px 20px;
}
footer .social li a {
	color:#58595b;
	font-size:3em;
}
footer .footer-menu ul li {
	display:inline-block;
	padding-right:20px;
	margin-right:20px;
	border-right:1px #58595b solid;
}
footer .footer-menu ul li:last-child {
	border-right:none;
	padding-right:0;
	margin-right:0;
}
footer .footer-menu ul li a {
	color:#58595b;
	font-size:1.2em;
	text-decoration:none;
}

/*>~~~~~>><{ ABA FOOTER }><<~~~~~<*/
#aba-footer{
	margin:0;
	padding:30px 0 20px;
	width:100%;
	height:138px;
	background:#58595B;
}
#aba-footer #aba-logo{
	display:block;
	margin:0 auto;
	padding:0;
	width:200px;
	height:100%;
	text-decoration:none;
}
#aba-footer #aba-logo img{
	display:block;
	margin:0 auto;
	width:100px;
	height:auto;
}
#aba-footer #aba-logo span{
	display:block;
	margin:10px 0 0 0;
	width:100%;
	font-size:10px;
	text-align:center;
	color:#FFFFFF;
	text-transform:uppercase;
	font-family:montserrat;
}

/* -------------------
      RESPONSIVE
--------------------*/
@media(min-width:768px) and (max-width:1025px){
	body.woocommerce-page #container{padding-left:20px;padding-right:20px;}
	
	header .sizer .burger-menu{display:block;top:50px;}
	header .sizer .main-menu .close-menu{
		display:block;
	}
	header .sizer .account{
		margin-right:50px;
	}
	header .sizer .main-menu{
		display:table;
		position:fixed;
		top:0;
		right:-130%;
		width:100%;
		height:100vh;
		background:#FFF200;
		transition:all ease-in-out .3s;
		z-index:100;
	}
	header .sizer .main-menu.active{
		right:0;
		transition:all ease-in-out .3s;
	}
	header .sizer .main-menu > .menu{
		margin-top:40px;
	}
	header .sizer .main-menu > .menu > li{
		width:100%;
		margin:0;
		text-align:center;
	}
	header .sizer .main-menu > .menu > li > a{
		height:60px;
	}
	header .sizer .main-menu > ul > li > ul{
		display:block;
		position:relative;
		padding:0;
		width:100%;
		float:left;
	}
	header .sizer .main-menu > ul > li > ul > li{
		display:block;
		width:100%;
		margin:0!important;
	}
	header .sizer .main-menu > ul > li.active > a{height:60px;}
	header .sizer .main-menu > ul > li > ul > li > a{
		text-align:center;
	}
}
@media(max-width:767px){
	body{padding-left:10px;padding-right:10px;background:none;}
	
	.home header{padding-top:8px;height:80px;}
	header{
		padding-top:8px;
		height:100px;
	}
	header .sizer .logo{max-width:50%;}
	header .sizer .account{float:left;margin-top:10px;margin-left:25px;width:30px;}
	header .sizer .account img{width:100%;}
	header .sizer .account span{display:none;}
	header .sizer .burger-menu{display:block;top:20px;}
	header .sizer .main-menu .close-menu{
		display:block;
	}
	header .sizer .basket{
		float: left;
		width: 30px;
		margin-left: 25px;
		margin-top: 10px;
	}
	header .sizer .basket img{
		width: 100%;
	}
	header .sizer .basket span{
		display:none;
	}
	header .sizer .basket .cart-contents-count{
		top: 15px;
    	left: 4px;
	}
	header .sizer .main-menu{
		display:table;
		position:fixed;
		top:0;
		right:-130%;
		width:100%;
		height:100vh;
		background:#FFF200;
		transition:all ease-in-out .3s;
		z-index:100;
	}
	header .sizer .main-menu.active{
		right:0;
		transition:all ease-in-out .3s;
	}
	header .sizer .main-menu > .menu{
		margin-top:40px;
	}
	header .sizer .main-menu > .menu > li{
		width:100%;
		margin:0;
		text-align:center;
	}
	header .sizer .main-menu > .menu > li > a{
		height:60px;
	}
	header .sizer .main-menu > ul > li > ul{
		display:block;
		position:relative;
		padding:0;
		width:100%;
		float:left;
	}
	header .sizer .main-menu > ul > li > ul > li{
		display:block;
		width:100%;
		margin:0!important;
	}
	header .sizer .main-menu > ul > li.active > a{height:60px;}
	header .sizer .main-menu > ul > li > ul > li > a{
		text-align:center;
	}
	.content{padding-top:40px;}
	.sizer{padding-left:0;padding-right:0;overflow:visible;}
	.favourites h2{font-size:4em;}
	.favourites .product-box:nth-child(odd){
		width: 48%;
		float: left;
		clear: both;
		margin: 0 0 2.992em;
	}
	.favourites .product-box:nth-child(even){
		width: 48%;
		float: right;
		margin-right:0;
    	clear: none!important;
	}
	.favourites .product-box .image-container{min-height:170px;}
	footer{background:#FFF200;}
	footer .footer-menu ul li{margin-right:0;padding:0 0 5px 0;border:0;}
	#newsletter-signup .sizer .content form{padding-left:15px;padding-right:15px;}
	#newsletter-signup .sizer .content form .newsletter-go{right:20px;}
	.content .more-link a,
	.favourites .more-link a{
		display:block;
		margin:0 auto;
		text-align:center;
	}
	#newsletter-signup,
	footer,
	#aba-footer{
		width:100%;
		float:left;
	}

	.content,
	#container,
	.slider,
	.sizer .content {
		margin-top: 100px;
	}

	.content h1,
	#container #content h1,
	#container #content h1.product_title,
	.favourites h2,
	#container #content .product .related h2,
	.our-products h2 {
		font-size:2.5em;
		margin-bottom:20px;
	}

	#container #content h1 {
		text-align: center;
	}

	.slide-badge {
		height: 80px;
		width: 80px;
		font-size: 16px;
		padding-top: 12px;
	}

	.slide-badge-sub {
		font-size: 12px;
	}
}